#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "cmd Productivity Tools"
            VALUE "FileDescription", "cmd Text Expander - Portable Windows productivity tool"
            VALUE "FileVersion", "1.2.0.0"
            VALUE "InternalName", "cmdTextExpander"
            VALUE "OriginalFilename", "cmdTextExpander.exe"
            VALUE "ProductName", "cmd Text Expander"
            VALUE "ProductVersion", "1.2.0.0"
            VALUE "LegalCopyright", "cmd Productivity Tools"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
